{% macro active_link(text, route, icon) %}
    <a class="flex items-center space-x-2 py-1 {{ app.request.get('_route') == route ? 'font-semibold border-r-4 border-r-red-600 text-red-600' : 'hover:border-r-4 hover:border-r-red-600 hover:font-semibold' }}" href="{{ path(route) }}">
        <svg class="h-5 w-5 {{ app.request.get('_route') == route ? 'fill-red-600' : 'fill-gray-500 group-hover:fill-red-600' }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            {{ icon | raw }}
        </svg>
        <span>{{ text }}</span>
    </a>
{% endmacro %}
